* {
	font-family: serif;
	font-size: 20px;
}

p {
	color: yellow;
}

body > h1 {
	font-size: 30px;
}

#learn {
	text-transform: uppercase;
}

.languages {
	background-color: pink;
}

img + ul{
	list-style: square;
}

section img {
	width: 300x;
	height: 300px;
	border-radius: 200px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul  {
	letter-spacing: 15px;
}

li[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}


